# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
.conda/

# Data
data/*


# Notebooks checkpoints
.ipynb_checkpoints/

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
